<h3>No Lookup Table Rows Found</h3>
<br />
<br />
<div><b>Environment:</b> <%=Rails.env%></u></div>
<br />
<br />
<div><b>The Template Name in question was:</b> <u><%=@template_name%></u></div>
<br />
<br />
<div><b>The Asset information in question was:</b> <u><%=@asset%></u></div>"
